on: [push, pull_request]
name: Build
jobs:
  build:
    runs-on:  ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15.x
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Build
      run: |
        ls -al
        chmod +x .github/build_multiplatform.sh
        ./flix-server/.github/build_multiplatform.sh
    - name: Archive Executables
      uses: actions/upload-artifact@v2
      with:
        name: flix-server
        path: flix-server-*
